<div class="card" id="card_edit">
	<h2 id="h2_edit">What change fren?</h2>
	
	<form>
	<div id="div_form">
		<input type="text" name="desc" class="item_desc_input" placeholder="Item">

		<input type="text" name="num" class="item_num_input" placeholder="number">

		<input type="text" name="note" class="item_note_input" placeholder="Notes? (Optional)">
	</div>			
		
	</form>

	<div id="div_butt">
		<a href="/list/update" class="button" id="butt_up">Update</a>
		<a href="/list/destroy" class="button" id="butt_del">Delete</a>
		<a href="/" class="button" id="butt_can">Cancel</a>

	</div>
</div>