<div class="card" id="card_list">
	<h1>Shopping List</h1>
	<div id="div_list">
		<ul>
			<li>
				<input type = "checkbox"><a href="/list/edit"><span class="item_num">number </span><span class="item_desc">Item boop snoot sniffs scritches</span></a><br><span class="item_note">note</span>
			</li>
			<li>
				<input type = "checkbox"><a href="/list/edit"><span class="item_num">number </span><span class="item_desc">Item</span></a><br><span class="item_note">note</span>
			</li>
		</ul>
	</div>
	<div id="div_butt">
		<a href="/list/new" class="button" id="butt_add">Add to list</a>
	</div>
</div>