<div class="card" id="card_new">
	
	<h2 id="h2_new">What want fren?</h2>
		
	<form>
        <div id="div_form">
			<input type="text" name="desc" class="item_desc_input" placeholder="Description">

			<input type="text" name="num" class="item_num_input" placeholder="Quantity">

			<input type="text" name="note" class="item_note_input" placeholder="Notes? (Optional)">

    	</div>			
		
	</form>

	<div id="div_butt">
		<a href="/list/create" class="button" id="butt_save">Save</a>
		<a href="/" class="button" id="butt_can">Cancel</a>
	</div>
	
</div>